<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Регистрация - FlatPay</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='icons/favicon-32x32.png') }}">
</head>
<body>

    <nav class="navbar">
        <div class="auth-buttons">
            <a href="{{ url_for('blueprint.index') }}" class="btn green">На главную</a>
        </div>
    </nav>

    <div class="container fade-in">
        <h1>Регистрация пользователя</h1>
        <p class="description">Заполните форму для создания учетной записи в FlatPay.</p>

        <form action="{{ url_for('blueprint.register') }}" method="POST" class="auth-form">
            <div class="form-group">
                <label for="email">Электронная почта</label>
                <input type="text" id="email" name="email" required placeholder="Введите ваш email" class="input">
            </div>

            <div class="form-group">
                <label for="password">Пароль</label>
                <input type="password" id="password" name="password" required placeholder="Введите ваш пароль" class="input">
            </div>

            <div class="form-group">
                <input type="submit" class="btn primary" value="Зарегистрироваться">
            </div>
        </form>
    </div>
</body>
</html>