# 💻 IDE и редакторы
.idea/               # JetBrains (PyCharm, WebStorm и т.д.)

# 🏗 Виртуальные окружения
.venv/
venv/

# ⚙️ Конфигурационные и чувствительные файлы
.env                 # Файл с переменными окружения
config.yaml          # Конфигурация

# 🗃 Логи
logs/
*.log

# 🗂 Компилированные файлы Python
__pycache__/
*.pyc
*.pyo
*.pyd

# 📂 Кэш и временные файлы
.DS_Store            # macOS системные файлы

# 📦 SQLite файлы базы данных (если используются)
*.db
*.sqlite3

# 📁 PyCharm кеши и настройки
/.idea/
