<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ошибка</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='icons/favicon-32x32.png') }}">
</head>
<body>
    <div class="container">
        <h1>При попытке произвести оплату возникла ошибка</h1>
        <p>Для повторной попытки оплаты перейдите к форме:
            <a href="http://127.0.0.1:5005/FlatPay/update_debt" class="btn red">Оплатить долг</a></p>
        <p><a href="http://127.0.0.1:5005/FlatPay" class="btn blue">Домашняя страница</a></p>
    </div>
</body>
</html>