<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Удалить пользователя</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Удаление персональных данных</h1>
        <form action="{{ url_for('blueprint.delete_user') }}" method="post">
            <div class="form-group">
                <label for="passport">Для удаления из базы данных введите паспортные данные:</label><br>
                <input type="text" id="passport" name="passport" required class="input-field">
            </div>
            <div class="form-group">
                <input type="submit" value="Удалить">
            </div>
        </form>
        <p><a href="http://127.0.0.1:5005/vba">Домашняя страница</a></p>
    </div>
</body>
</html>