<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Оплатить долг</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Оплата долга</h1>
        <form action="{{ url_for('blueprint.update_debt') }}" method="post">
            <div class="form-group">
                <label for="passport">Для оплаты введите ваши паспортные данные:</label>
                <input type="text" id="passport" name="passport" required><br><br>
            </div>
            <div class="form-group">
                <label for="new_payment">Введите оплату:</label>
                <input type="text" id="new_payment" name="new_payment" required><br><br>
            </div>
            <div class="form-group">
                <input type="submit" value="Оплатить">
            </div>
        </form>
        <p><a href="http://127.0.0.1:5005/vba">Домашняя страница</a></p>
    </div>
</body>
</html>